<%= form_for(@person) do |f| %>

  <div class="field">
    <label>NOME:</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>E-MAIL:</label><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <label>TELEFONE:</label><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">

    <%= f.radio_button :typeuser, 'Investidor', :checked => true %>
    <%= f.label :typeuser, "Investidor", :class => 'maior' %>
    <%= f.radio_button :typeuser, 'Startup/Empreendedor', :checked => false %>
    <%= f.label :type, "Startup/Empreendedor", :class => 'maior' %>
  </div>

    <%= f.submit 'ENVIAR', :class => 'a enviar' %>
<% end %>

<% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @person.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
